<div class="toi-links">
    <a href="https://epapers.timesgroup.com/about">About Us</a>
    <span class="toi-sep"></span>
    <a href="https://epapers.timesgroup.com/advertise">Advertise with Us</a>
    <span class="toi-sep"></span>
    <a href="https://epapers.timesgroup.com/terms">Terms of Use</a>
    <span class="toi-sep"></span>
    <a href="https://epapers.timesgroup.com/policy">Privacy and Cookie Policy</a>
    <span class="toi-sep show-if--require-consents"></span>
    <a id="link-consents" class="show-if--require-consents" href="#">Privacy Form</a>
  </div>
  <div class="toi-copy">Copyright © 2020 Bennett Coleman & Co. Ltd. • All rights reserved.</div>